<cool-header-with-sidenav>
  <ng-container navlist>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="../" routerLinkActive="active">Back to Safes</a>
    </mat-nav-list>
  </ng-container>
  <!-- Content -->
  <ng-container body>
    <header>
      <h4 mat-subheader>Items</h4>
      <button mat-mini-fab color="primary" (click)="onAddSafeItem($event)">
        <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
      </button>
    </header>
    <mat-list>
      <mat-list-item *ngFor="let item of items">
        <p matLine>{{ item?.name }}</p>
        <p matLine>{{ item?.price }}€</p>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <!---->
</cool-header-with-sidenav>
